h1,.mydiv
{
    background-color: brown;
    color: aliceblue;
}
h1
{
    text-align: center;
    padding: 5px;
}
.mydiv
{
    margin: 100px;
    padding: 30px;
}
.table{
margin: 100px 0px 0px 200px;
    width: 70%;
}
.head
{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.add
{
    margin : 150px;
}
